.wrapper {
    max-width:  100vw;
    min-height: 100vh;
    /* background-color: rgb(253, 253, 243); */

}

.top {
    width: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: row;
}

.image {
    width: 40%;
    /* background-color: blueviolet; */
    /* min-height: 700px; */

    display: flex;
    flex-direction: row;
    align-items: top;
    margin-top:167px;
    /* overflow: hidden; */
}

.swiper{
    height: 499px;
    width: 499px;
}

img {
    width: 399px;
    height: auto;
    top: 10;
}

.right {
    width: 60%;
    /* background-color: red; */
    min-height: 700px;
    padding-right: 90px;
    padding-bottom: 20px;
    margin-top: 30px;

}

.description {
    font-size: 1em;
}

.middle {
    width: 100%;

    display: flex;
    flex-direction: row;
}

.middle-left {
    width: 40%;

}

.item {
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */

    height: 60px;
    /* justify-content: center; */
    /* padding: 0; */
    margin: 0px 0 0px 190px;


}

h5 {
    font-size: 1.2em;
    font-weight: normal;
    align-self: left;

    width: 190px;
}

h6 {
    font-size: 1.1em;
    font-weight: normal;
}


.middle-right {
    width: 50%;
}

.bottom {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



button {
    height: 55px;
    width: 199px;
    border: none;
    background-color: rgb(202, 230, 255);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    border-radius: 5%;
    
    /* transition: all 0.2s ease; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    background-color: rgb(185, 221, 254);
}

button:active {
    transform: scale(0.96);
    background-color: rgb(153, 204, 252);
}






.skeleton {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
}

.skimage{
    width: 34%;


    padding: 130px 90px 0 190px;
    /* background-color: aliceblue; */
}

.skright {
    width: 80%;
    /* background-color: antiquewhite; */
    padding: 90px 0 0 40px
}